[flake8]
max-line-length = 120
ignore =
    E501,
    W503,
    E402,
    W291,
    W293,
    W292,
    E302,
    E225,
    E126,
    E221,
    E241,
    E272,
    F401,
    F403,
    F405
exclude =
    __pycache__,
    .git,
    *.pyc,
    .env,
    venv,
    .venv
per-file-ignores =
    tests/*: E302,E303
statistics = True
count = True
